.clueOne {
  height: auto;
  width: auto;
  z-index: 2;
  top: 285px;
  left: 345px;
  position: absolute;
  cursor: pointer;
}

.word {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50px;
  font-size: 16px;
  color: black;
}

.clueOneLetter {
  background: yellow;
  height: auto;
  width: auto;
  z-index: 2;
  top: 280px;
  left: 350px;
  position: absolute;
  z-index: 3;
}



