.clueOne {
  height: auto;
  width: auto;
  z-index: 2;
  top: 200px;
  left: 300px;
  position: absolute;
}

.word {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50px;
  font-size: 16px;
  color: black;
}

.clueOneLetter {
  background: yellow;
  height: auto;
  width: auto;
  z-index: 2;
  top: 150px;
  left: 300px;
  position: absolute;
}