.door {
  z-index: 1;
  top: 155px;
  left: 0px;
  position: absolute;
  cursor: pointer;
}

.openDoor {
  height: 715px;
  z-index: 2;
  top: -15px;
  left: 0px;
  width: 1050px;
  position: absolute;
}
