.loginpopup-box {
    position: absolute;
    left: 200px;
    bottom: 200px;
    width: 1500px;
    height: 100vh;
    z-index: 11;
  }
  
  .loginbox {
    position: absolute;
    width: 460px;
    height: 250px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 4px;
    left: 40px;
    bottom: 40px;
    padding: 20px;
    overflow: auto;
    z-index: 11;
  }
  
  .loginbtn-close {
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 11;
  }

  .login-box {
    position: absolute;
    top: 10px;
    left: 180px;
  }

  .password {
    position: absolute;
    top: 70px;
    left: 175px;
  }

  .passwordBtn {
    position: absolute;
    top: 70px;
    left: 280px;
  }