.monitor {
  height: auto;
  width: 150px;
  z-index: 1;
  top: 300px;
  left: 700px;
  position: absolute;
}

.wordOne {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50px;
  font-size: 16px;
  color: red;
}

.wordTwo {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 50px;
  font-size: 16px;
  color: blue;
}
