.room {
  width: 1000px;
  margin: auto;
  z-index: -1;
  position: absolute;
}

.expired-notice {
  padding: 2rem;
  border-radius: 0.25rem;
}

.expired-notice > span {
  position: absolute;
  right: 840px;
  top: 35px;
  z-index: 2;

  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > button{
  position: absolute;
  right: 870px;
  top: 85px;
  z-index: 2;
  color: red;
  
}
  .button {
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 4px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}



.show-counter {
  padding: 0.5rem;
}

.show-counter  {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;

  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}
