.safe {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  left: 555px;
  top: 425px;
}

.pinNumber::-webkit-outer-spin-button,
.pinNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pinNumber {
  width: 40px;
}
