.safepopup-box {
  position: absolute;
  width: 1000px;
  height: 696px;
  z-index: 10;
}

.safebox {
  position: absolute;
  width: 190px;
  height: 160px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
  left: 350px;
  bottom: 40px;
  padding: 20px;
  overflow: auto;
  z-index: 10;
}

.safebtn-close {
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
}
