.greetings {
 background-image: url('../public/Plain-White-Walls.jpg');
 width: 1024px;
 height: 683px;
}

.welcome {
  position: relative;
  color:saddlebrown;
 
}
.game-explination {
 color: saddlebrown;
  overflow: auto;
  padding: 90px;
}

.play-game {
  margin-left: 450px
}