.greetings {
  background-image: url("../public/stock-escape-room-maze-our-logo.jpg");
  width: 1024px;
  height: 683px;
  background-size: cover;
}

.welcome {
  position: relative;
  top: 20px;
  color: saddlebrown;
}

.game-explanation {
  position: relative;
  top: -65px;
  left: 10px;
  color: saddlebrown;
  overflow: auto;
  padding: 90px;
}

.play-game {
  top: 380px;
  left: 270px;
  width: 470px;
  height: 80px;
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
}

.play-game:hover {
  border: 3px solid;
  color: purple;
  cursor: pointer;
}
